.searchBar {
  text-align: center;
}

h3 {
  text-align: center;
  color: red;
}

.select {
  float: right;
  padding: 7px;
  position: relative;
  right: 69px;
}

.span {
  color: black;
  font-size: 16px;
}

th {
  text-align: center;
  font-size: 18px;
  color: black;
}

tr {
  text-align: center;
}

table{
    margin-left: 24px;
}