body {
  overflow-x: hidden;
}

body::before {
  content: "";
  background-image: url("./images/login-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/*------------------------------Modal Add Start----------------------*/

.modal-content {
  height: 44vw;
}

.modal-body {
  position: relative;
  left: 13vw;
  line-height: 2;
}

.modal-footer {
  position: relative;
  top: 3vw;
}

.btn-default {
  margin-top: 1px;
}

.btn-block {
  position: relative;
  left: 12vw;
  top: 2vw;
}
/*------------------------------Modal Add End-------------------------*/

/***employeeInfo*******/

.background {
  background: rgba(0, 0, 0, 0.5);
  margin: 2vw 0 1vw 0;
  transform: skewX(-20deg);
  padding: 0.3vw 0;
  border: 1px #fee715ff solid;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.6);
}

.user_image_rot,
.button_rot {
  transform: skewX(20deg);
  position: relative;
  left: 6vw;
}

.sc-bdfBwQ > .becVlZ {
  position: relative;
  background: white;
  width: 33%;
  height: auto;
  top: -12%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) skewX(20deg);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(50, 50, 93, 0.1);
  border: 3px #fee715ff solid;
}

/******employeeInfo end*****/

/*******AddEmployeee*******/

/*******AddEmployeeEnd*******/

/* .Modal-module_modalBody__3_RoW {
  position: relative;
  max-height: var(--st-dialog-maxContentHeight);
  overflow-x: hidden;
} */

.sections {
  width: 68vw;
  margin-left: 7vw;
}

.container {
  overflow-x: hidden;
}

.info {
  margin-right: 4vw;
}

/*--------------------------------Modal View Start-------------------------------*/

.user-image-info {
  width: 18vw;
  height: auto;
  margin: 14px 0;
  border: 3px #ffff99 solid;
}

strong {
  font-size: 18px;
  line-height: 2;
}

.View_close_btn {
  color: black;
  position: relative;
  left: 18.2vw;
  margin: 30px 0;
  padding: 5px 29px;
}

.view-btn {
  background-color: #ffff99;
  padding: 9px;
}

/*--------------------------------Modal View End----------------------------------*/

/*--------------------------------Modal Update Start-------------------------------*/

.Modal-module_modalBody__3_RoW {
  overflow-x: hidden;
  height: auto;
}

.Modal-Update-btn {
  margin: 20px 0;
  position: relative;
  left: 8vw;
  padding: 5px 29px;
  background-color: #ffff66;
}

.Modal-Update-close-btn {
  margin: 20px 0;
  position: relative;
  top: 1vw;
  left: 18vw;
  padding: 5px 29px;
}

.updateLabel {
  color: black;
  margin: 10px 0;
}

.update-btn {
  background-color: #ffff66;
  padding: 9px;
}

/*---------------------------------Modal Update End-----------------------------------*/

/*---------------------------------Modal Delete Start---------------------------------*/

.Button_delete {
  background-color: #bf3c41;
  padding: 9px;
  position: relative;
  left: 6px;
  padding: 9px 17px 9px 9px;
}

.Button_delete_Even {
  background-color: #bf3c41;
  padding: 9px;
  position: relative;
  left: 6px;
  padding: 9px 14px 9px 9px;
}

/*---------------------------------Modal Delete End-------------------------------------*/

.Button_delete_Skew:active,
.Button_delete_Skew:focus,
.Button_delete_Skew:focus-visible {
  border: transparent;
}

.Button_delete_Skew::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 100%;
  background-color: #bf3c41;
  transform: skewX(21deg);
  left: -8px;
  top: 0px;
}

.Button_delete_Even {
  transform: skewX(34deg);
}

.Button_delete_Skew_Even::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 100%;
  background-color: #bf3c41;
  left: -8px;
  transform: skewX(-18deg);
  top: 0px;
}

/*-----------------------------------KPI Button Start-----------------------------------*/

.KPI_button {
  padding: 9px;
}

/*-----------------------------------KPI Button End-----------------------------------*/

.no_result {
  text-align: center;
  color: red;
  font-size: 30px;
}

.error_message {
  color: red;
}

@media only screen and (max-width: 480px){

#change1{
  position: relative;
  top: 21vw;
}

.search {
  position: relative;
  left: 23%;
  top: -6vw;
}
.user-image {
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
}

.username-section{
  position: relative;
  top: -15vw;
  left: -3vw;
}
}